<div class="container">
  <h2 class="my-4" *ngIf="!authService.isAuthenticated()" routerLink="/login">Login</h2>
    <h2 *ngIf="authService.isAuthenticated()">Logout</h2>
  <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate *ngIf="!authService.isAuthenticated()">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        id="username"
        class="form-control"
        [(ngModel)]="user.username"
        name="username"
        required
      />
      <div class="invalid-feedback">Please enter your username.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="user.password"
        name="password"
        required
      />
      <div class="invalid-feedback">Please enter your password.</div>
    </div>
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-sign-in"></i> Login
    </button>
  </form>

  <!-- Logout button displayed only when the user is authenticated -->
   <p *ngIf="authService.isAuthenticated()">Do you want to logout?</p>
  <button class="btn btn-secondary" *ngIf="authService.isAuthenticated()" (click)="logout()">
    <i class="fa fa-sign-out"></i> Logout
  </button>
</div>
