<div class="container">
    <h2 class="my-4">Book List</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="editBook(book)">
              <i class="fa fa-edit"></i> Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteBook(book.id)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success mt-3" (click)="addBook()">Add New Book</button>
  </div>
  