<div class="container">
    <h2 class="my-4">{{ isEditMode ? 'Edit Book' : 'Add Book' }}</h2>
    <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          id="title"
          class="form-control"
          [(ngModel)]="book.title"
          name="title"
          required
        />
        <div class="invalid-feedback">Please enter a book title.</div>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author:</label>
        <input
          type="text"
          id="author"
          class="form-control"
          [(ngModel)]="book.author"
          name="author"
          required
        />
        <div class="invalid-feedback">Please enter an author name.</div>
      </div>
      <button type="submit" class="btn btn-success">
        <i class="fa" [ngClass]="isEditMode ? 'fa-save' : 'fa-plus'"></i> {{ isEditMode ? 'Update' : 'Add' }}
      </button>
      <button type="button" class="btn btn-secondary ms-2" (click)="cancel()">
        <i class="fa fa-times"></i> Cancel
      </button>
    </form>
  </div>
  